<f:be.infobox title="{f:translate(key:'LLL:EXT:form4_socialmedialinks/Resources/Private/Language/locallang_db.xlf:extensionmanager.configuration.import.headline')}" state="-1">
	<p>{f:translate(key:'LLL:EXT:form4_socialmedialinks/Resources/Private/Language/locallang_db.xlf:extensionmanager.configuration.import.infotext')}</p>
	<ul>
		<li>{f:translate(key:'LLL:EXT:form4_socialmedialinks/Resources/Private/Language/locallang_db.xlf:extensionmanager.configuration.import.facebooklike')}</li>
		<li>{f:translate(key:'LLL:EXT:form4_socialmedialinks/Resources/Private/Language/locallang_db.xlf:extensionmanager.configuration.import.facebookcomments')}</li>
		<li>{f:translate(key:'LLL:EXT:form4_socialmedialinks/Resources/Private/Language/locallang_db.xlf:extensionmanager.configuration.import.twittershare')}</li>
		<li>{f:translate(key:'LLL:EXT:form4_socialmedialinks/Resources/Private/Language/locallang_db.xlf:extensionmanager.configuration.import.twitterfollowme')}</li>
		<li>{f:translate(key:'LLL:EXT:form4_socialmedialinks/Resources/Private/Language/locallang_db.xlf:extensionmanager.configuration.import.twitterhashtag')}</li>
		<li>{f:translate(key:'LLL:EXT:form4_socialmedialinks/Resources/Private/Language/locallang_db.xlf:extensionmanager.configuration.import.twittermention')}</li>
		<li>{f:translate(key:'LLL:EXT:form4_socialmedialinks/Resources/Private/Language/locallang_db.xlf:extensionmanager.configuration.import.mailtolink')}</li>
	</ul>
	<p>
		<f:link.external uri="{updateScript}">{f:translate(key:'LLL:EXT:form4_socialmedialinks/Resources/Private/Language/locallang_db.xlf:extensionmanager.configuration.import.linktext')}</f:link.external>
	</p>
</f:be.infobox>
